.header {
	background: #fff;
	box-shadow: 0 4px 2px -2px #bfb9b973;
	display: flex;
	height: 72px;
	justify-content: space-between;
	width: 100%;
}

.site-logo {
	background-image: url(../Image/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 100px;
	height: 48px;
	width: 48px;
}

.nav-left {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	margin-left: 16px;
}

.site-name p {
	font-size: 24px;
	font-weight: 600;
	margin-left: 11px;
}

.user-setting span {
	border-radius: 50%;
	color: #949aa2;
	cursor: pointer;
	display: inline-block;
	height: 34;
	line-height: 9;
	text-align: center;
	transition: all .2s;
	width: 34;
}

.user-setting span i {
	line-height: 2;
}

.user-photo {
	background-image: url(../Image/user.png);
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 100px;
	height: 48px;
	margin-left: 18px;
	width: 48px;
}

.nav-right {
	align-items: center;
	display: flex;
	margin-right: 31px;
}

.user-setting span:hover {
	background: #ddd;
}
