.live-chat{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
}

.chat-header{
    border-bottom: 1px solid #dadce0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding:10px 0;
    position: sticky;
    top:0;
}

.chat-left-side{
    cursor: pointer;
    display: flex;
}

.chat-left-side .name {
    font-size: 16px;
    font-weight: 400;
    margin-left: 18px;
}

.chat-left-side .name span {
    color:#acb6d1;
    display: block;
    font-size: 15px;
    font-weight: 100;
}

.chat-right-side{
    color:#949aa2;
    margin-bottom: auto;
    margin-right: 18px;
    margin-top: auto;
}

.chat-right-side span {
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 34px;
    text-align: center;
    transition: all .2s;
    width: 34px;
}

.chat-right-side span:hover{
    background: #d9dbdf;
}

.chat-right-side span i{
    line-height: 2;
}

.chat-body{
    height: 100%;
    overflow: auto;
    padding: 0 15px;
}

.chat-typing {
    background-color: rgb(127, 42, 207);
    bottom: 0;
    height: 100px;
    position: static;
    width: 100%;
}
